<%- include('../_partial/_header'); -%>
<% if(locals.user){ %>
        <h1>Welcome to the home page, <%= user.name %></h1>
    <%} else{ %>
        <h1>Welcome to the home page</h1>
    <%}%>

<%- include ('../_partial/_footer'); -%>